.logo {
    font-family: cursive;
    font-weight: bolder;
    letter-spacing: 1px;
    margin-right: 1rem;
    color: grey !important;
}

.count-cart {
    position: absolute;
    color: white;
    text-align: center;
    width: 30px;
    top: 20px;
}

@media screen and (max-width: 992px) {
    .count-cart {
        top: 62px;
    }
}