{% extends 'base.html.twig' %}

{% block title %}{{ category.title }}{% endblock %}

{% block body %}

    <div class="center-block col-md-11 auto mt-5">
        <h1 class="title-h1 h2">Tous les produit de notre catégorie {{ category.title|lower }}</h1>
        
        {% set articleLayout = 'col-6 col-md-3' %}
        {% include 'partials/article.html.twig' %}

    </div>

{% endblock %}
