<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Accueil{% endblock %} - Le secret de Loli</title>
        
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% set url = 'https://127.0.0.1:8000/' %}

        {% include 'partials/header.html.twig' %}
            
        <div class="content">
            {% block body %}{% endblock %}
            <div class="minSite"></div>
        </div>
    </body>
</html>
